@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  /*
Colors
*/

  /*
Primary colors
*/
  --sedan-background-color: hsl(31, 77%, 52%);
  --suv-background-color: hsl(184, 100%, 22%);
  --luxury-background-color: hsl(179, 100%, 13%);

  /*
Neutral colors
*/
  --para-text-color: hsla(0, 0%, 100%, 0.75);
  --main-color: hsl(0, 0%, 95%);

  /*
Typography
*/

  /*
Font size
*/
  --font-size: 0.9375rem;

  /*
Font families and weights
*/
  --para-text-font-family: "Lexend Deca", sans-serif;
  --weight-400: 400;

  --heading-font-family: "Big Shoulders Display", cursive;
  --weight-700: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light only;
}

html,
body {
  background-color: var(--main-color);
  min-height: 100vh;
}

body {
  align-items: center;
  display: flex;
  font-size: var(--font-size);
  justify-content: center;
  padding: 10% 0;
}

main {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 80vw;
}

section {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2.5rem;
  justify-content: space-between;
  padding: 2rem;
}

h1 {
  color: var(--main-color);
  font-family: var(--heading-font-family);
  font-size: xx-large;
}

p {
  color: var(--para-text-color);
  font-family: var(--para-text-font-family);
}

a {
  background-color: var(--main-color);
  border-radius: 2rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  width: 60%;
}

h1,
span {
  text-transform: uppercase;
}

p,
a {
  font-family: var(--para-text-font-family);
}

.sedans {
  background-color: var(--sedan-background-color);
}
.sedans > a {
  color: var(--sedan-background-color);
}

.suvs {
  background-color: var(--suv-background-color);
}
.suvs > a {
  color: var(--suv-background-color);
}

.luxury {
  background-color: var(--luxury-background-color);
}
.luxury > a {
  color: var(--luxury-background-color);
}

a:hover {
  background-color: transparent;
  color: var(--main-color);
  outline: 1px solid var(--main-color);
  transition: 0.5s ease-in-out;
}

@media (max-width: 23.375em) {
  a {
    width: 100%;
  }
}

@media (min-width: 50em) {
  main {
    flex-direction: row;
    width: 60%;
  }

  a {
    width: 100%;
  }
}

@media (min-width: 79.8125em) {
  a {
    width: 60%;
  }
}
